<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Тезисы</h2>
                </div>
            </div>
            <div class="row container">
                <p>Что тут писать?
                </p>

                <center><a href="https://wolfr.am/1d0y29RKG" class="page-scroll btn btn-xl">Форма Регистрации</a></center>
            </div>
        <div class="row">
            <p>Прямой эфир</p>
            <iframe allow="camera; microphone; fullscreen; display-capture; autoplay" src="https://meet.jit.si/moderated/0a58e9ea66020ac8590c02e538e1607a84fa08365fc3a52d04f7fa07c87c1463" style="height: 100%; width: 100%; border: 0px;"></iframe>
        </div>
        </div>
    </section>