<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Тезисы</h2>
                </div>
            </div>
            <div class="row container">
                <p>Что тут писать? <a href="/2016">Я тут хз че писать</a> 
                </p>

                <center><a href="https://wolfr.am/1d0y29RKG" class="page-scroll btn btn-xl">Форма Регистрации</a></center>
            </div>
        </div>
    </section>