<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Тезисы</h2>
                </div>
            </div>
            <div class="row container">
                <p>Wolfram Language - это высокоуровневый язык программирования, который применяется 
                    огромным количеством ученых, инженеров и исследователей по всему миру. 
                    Язык имеет одну из самых больших стандартных библиотек среди всех языков программирования, 
                    в которой есть функции на все случаи жизни. 
                    В нем содержатся функции для решения астрономических, химических, биологических, физичиских, математических и 
                    многих других типов задач. Именно благодаря своей универсальности и широчайшему спектру научных задач, которые можно 
                    решить с помощью Wolfram, язык достаточно популярен в Российских высших учебных заведениях. 
                </p>

                <center><a href="https://wolfr.am/1d0y29RKG" class="page-scroll btn btn-xl">Форма Регистрации</a></center>
            </div>
        </div>
    </section>