<style>
body {
  position: absolute;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.border-bottom {
    border-bottom-color: rgb(222, 226, 230);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

</style>

<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item" style="display: inline-block"><a href="https://github.com/Wolfram-Language-Russian-Conference/Wolfram-Language-Russian-Conference.github.io" class="nav-link px-2 text-muted">Github</a></li>
        <li class="nav-item" style="display: inline-block"><a href="https://vk.com/wolframmathematica" class="nav-link px-2 text-muted">VK</a></li>
      </ul>
      <p class="text-center text-muted">Русскоязычная поддержка Wolfram Mathematica</p>
    </footer>
  </div>
<script src="https://cdn.statically.io/gh/JerryI/wljs-interpreter/main/src/interpreter.js"></script>
<script src="https://cdn.statically.io/gh/JerryI/wljs-interpreter/main/src/core.js"></script>

<script src="json/curves.js"></script>

<script type="module" src="https://cdn.statically.io/gh/JerryI/wljs-graphics-d3/main/dist/kernel.js">
</script>

<script type="module">
        let local = {};
        let global = {};
        let env = {
            local: local,
            global: global,
        };
    
        const introText = document.getElementsByClassName("intro-heading")[0];
        const introSubText = document.getElementsByClassName("intro-lead-in")[0];
        const button = document.getElementsByClassName('btn-xl')[0];
    
        introText.style.opacity = 1;
    
        core.ShowTheRest = async (args, env) => {
        
        }
    
        core.ShowIntro = async (args, env) => {
            introSubText.style.opacity = 1;
            button.style.opacity = 1;
        }    
 
        /*
        Hold[logo=WindowScope["logo"];
        piter=WindowScope["piter"];
        colors=RandomSample[WindowScope["colors"]];
            
        FrontEndVirtual[{AttachDOM["dom-canvas"];
        Graphics[Table[{colors[[i]]//Evaluate,Line[logo[[i]]]},{i,1,Length[logo]}],"TransitionDuration"->1000,"ViewBox"->{-200,0,900,320},"PlotRange"->{ {2.14718,1897.8},{-1235.18,-14.849} } ] }];
            
        Pause[0.4];
        ShowIntro;
        Pause[1.1];
        FlipSymbols[logo,piter,RandomSample];
        ShowTheRest;
            
        While[True,Pause[6];
        FlipSymbols[logo,piter,RandomSample];];];
        */
        
        interpretate([
        "FrontEndOnly",
            [
                "CompoundExpression",
                [
                    "Set",
                    "logo",
                    [
                        "WindowScope",
                        "'piter'"
                    ]
                ],
                [
                    "Set",
                    "piter",
                    [
                        "WindowScope",
                        "'logo'"
                    ]
                ],
                [
                    "Set",
                    "colors",
                    [
                        "RandomSample",
                        [
                            "WindowScope",
                            "'colors'"
                        ]
                    ]
                ],
                [
                    "FrontEndVirtual",
                    [
                        "List",
                        [
                            "CompoundExpression",
                            [
                                "AttachDOM",
                                "'background-svg'"
                            ],
                            [
                                "Graphics",
                                [
                                    "Table",
                                    [
                                        "List",
                                        [
                                            "Evaluate",
                                            [
                                                "Part",
                                                "colors",
                                                "i"
                                            ]
                                        ],
                                        [
                                            "Line",
                                            [
                                                "Part",
                                                "logo",
                                                "i"
                                            ]
                                        ]
                                    ],
                                    [
                                        "List",
                                        "i",
                                        1,
                                        [
                                            "Length",
                                            "logo"
                                        ]
                                    ]
                                ],
                                [
                                    "Rule",
                                    "'TransitionDuration'",
                                    1500
                                ],
                                [
                                    "Rule",
                                    "'ViewBox'",
                                    [
                                        "List",
                                        -200,
                                        0,
                                        900,
                                        320
                                    ]
                                ],
                                [
                                    "Rule",
                                    "'PlotRange'",
                                    [
                                        "List",
                                        [
                                            "List",
                                            2.14718,
                                            1.8978e3
                                        ],
                                        [
                                            "List",
                                            -1.23518e3,
                                            -1.4849e1
                                        ]
                                    ]
                                ]
                            ]
                        ]
                    ]
                ],
                [
                    "Pause",
                    0.4
                ],
                "ShowIntro",
                [
                    "Pause",
                    1.1
                ],
                [
                    "FlipSymbols",
                    "logo",
                    "piter",
                    "RandomSample"
                ],
                "ShowTheRest",
                [
                    "While",
                    true,
                    [
                        "CompoundExpression",
                        [
                            "Pause",
                            6
                        ],
                        [
                            "FlipSymbols",
                            "logo",
                            "piter",
                            "RandomSample"
                        ],
                        null
                    ]
                ],
                null
            ]
        ], env);    
        
    </script>
    