<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Конференция Wolfram Language в России<br></div>
                <div class="intro-lead-in">1-2 Июня 2023</div>
                <div class="intro-lead-in">Санкт-Петербург, ул. Лоцманская, д. 10-14, СПбГМТУ</div>
                <a href="#intro" class="page-scroll btn btn-xl">Подробности</a>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>